<body class="d-flex flex-column">

<app-header></app-header>

<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong id="inDam"><h1 class="card-title" style="color: red">Create Customer</h1></strong>
        </div>
        <form [formGroup]="formAddReactice" (ngSubmit)="saveCreateCustomer()">
          <div class="card-body">
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">

              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="name_customer">Name Customer::</label>
                <div class="input-group input-group-merge">
                  <input type="text" class="form-control phone-number-mask" placeholder="Input Name" id="name_customer"
                         formControlName="name">
                </div>
                <span style="color: red" *ngIf="formAddReactice.controls.name.hasError('required')">  không được để trống</span><br>
                <span style="color: red" *ngIf="formAddReactice.controls.name.hasError('pattern')"> không đúng định dạng </span><br>
                <span style="color: red" *ngIf="formAddReactice.controls.name.hasError('minlength')">ngắn nhât 5 ký tự</span><br>
                <span style="color: red" *ngIf="formAddReactice.controls.name.hasError('maxlength')">dài nhất 25 ký tự</span><br>

              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="dateOfBirth">Date Of Birth :</label>
                <input type="date" class="form-control date-mask" placeholder="birth Day" id="dateOfBirth"
                       formControlName="dateOfBirth">
                <span style="color: red" *ngIf="formAddReactice.controls.dateOfBirth.hasError('required')">  không được để trống</span>
                <span style="color: red" *ngIf="formAddReactice.controls.dateOfBirth.hasError('pattern')"> không đúng định dạng </span><br>

              </div>



              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="gender">gender :</label>
                <select class="form-control" formControlName="gender" id="gender">
                  <option [value]="0">Nam</option>
                  <option [value]="1">Nu</option>
                  <option [value]="2">LGBT</option>
                </select>
                <span style="color: red"
                      *ngIf="formAddReactice.controls.gender.hasError('required')">  không được để trống</span>
              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="idCard">Id Card :</label>
                <input type="text" class="form-control numeral-mask" placeholder="Id Card :" id="idCard"
                       formControlName="idCard">
                <span style="color: red" *ngIf="formAddReactice.controls.idCard.hasError('required')">  không được để trống</span>
                <span style="color: red" *ngIf="formAddReactice.controls.idCard.hasError('pattern')"> không đúng định dạng </span><br>


              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="phoneNumber">Phone Number :</label>
                <input type="text" class="form-control block-mask" placeholder="loại phòng" id="phoneNumber"
                       formControlName="phoneNumber">
                <span style="color: red" *ngIf="formAddReactice.controls.phoneNumber.hasError('required')">  không được để trống</span>
                <span style="color: red" *ngIf="formAddReactice.controls.phoneNumber.hasError('pattern')"> không đúng định dạng </span><br>

              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label">Email :</label>
                <input type="text" class="form-control delimiter-mask"
                       formControlName="email">
                <span style="color: red"
                      *ngIf="formAddReactice.controls.email.hasError('required')">  không được để trống</span>
                <span style="color: red"
                      *ngIf="formAddReactice.controls.email.hasError('email')">  không dung dinh dang</span>

              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="address">Address</label>
                <input type="text" class="form-control custom-delimiter-mask" placeholder="address" id="address"
                       formControlName="address">
                <span style="color: red" *ngIf="formAddReactice.controls.address.hasError('required')">  không được để trống</span>
              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="customerType">customerType :</label>
                <select class="form-select" id="customerType" formControlName="customerType">
                  <option *ngFor="let item of customerType" [ngValue]="item">
                    {{item.name}}
                  </option>
                </select>
              </div>


            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Submit</button>
              <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<app-footer></app-footer>
</body>

