
<body class="d-flex flex-column" >

<app-header></app-header>

<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong id="inDam"><h1 class="card-title" style="color: red">Create Customer</h1></strong>
        </div>
        <form >
          <div class="card-body">
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">

              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="name_customer">Name Customer::</label>
                <div class="input-group input-group-merge">
                  <input type="text" class="form-control phone-number-mask" placeholder="Input Name" id="name_customer"
                         formControlName="name" >
                </div>

              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="dateOfBirth">Date Of Birth :</label>
                <input type="date" class="form-control date-mask" placeholder="birth Day" id="dateOfBirth"
                       formControlName="dateOfBirth">
              </div>


              <div class="mb-2">
                <label class="form-label">Gender</label>
                <div class="form-check my-50">
                  <input type="radio" id="validationRadio3" name="validationRadioBootstrap" class="form-check-input"
                         value="1" formControlName="gender">
                  <label class="form-check-label" for="validationRadio3">Male</label>
                </div>
                <div class="form-check" >
                  <input type="radio" id="validationRadio4" name="validationRadioBootstrap" class="form-check-input" value="0"
                         formControlName="gender">
                  <label class="form-check-label" for="validationRadio4">Female</label>
                </div>
              </div>



              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="idCard">Id Card :</label>
                <input type="text" class="form-control numeral-mask" placeholder="Id Card :" id="idCard"
                       formControlName="idCard">

              </div>



              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="phoneNumber">Phone Number :</label>
                <input type="text" class="form-control block-mask" placeholder="loại phòng" id="phoneNumber"
                       formControlName="phoneNumber">

              </div>



              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label">Email :</label>
                <input type="text" class="form-control delimiter-mask"
                       formControlName="email">

              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="address">Address</label>
                <input type="text" class="form-control custom-delimiter-mask" placeholder="address" id="address"
                       formControlName="address">
                <!--                <span style="color: red" *ngIf="formReactive.controls.address.hasError('required')">  không được để trống</span>-->

              </div>


              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" for="customerType">customerType :</label>
                <select class="form-select" id="customerType">
                  <option >
                  </option>
                </select>
              </div>


            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Submit</button>
              <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<app-footer></app-footer>
</body>

