<section style="position: sticky;top: 0;z-index: 1" class="navbar d-flex justify-content-center" id="navbar">
  <div class="wrapper  d-flex" style="margin-left: 15%; ">
    <ul class="list d-flex text-bg-light">
      <li class="list__item d-flex justify-content-center align-items-center"><a href="/pages">Home</a>
      </li>
      <li class="list__item d-flex justify-content-center align-items-center"><a href="#">Employee</a>

      </li>
      <li class="list__item d-flex justify-content-center align-items-center"><a href="#">Customer</a>
      </li>
      <li class="list__item d-flex justify-content-center align-items-center"><a href="#">Service</a>
      </li>
      <li class="list__item d-flex justify-content-center align-items-center"><a href="#">Contract</a></li>
    </ul>
  </div>
</section>

