
<body class="d-flex flex-column" >

<app-header></app-header>

<app-navigation></app-navigation>
<button routerLink="/customer/create">Create Customer</button>
<form >

  <table style="color: #363636"  class="table "  >
    <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>ID Card</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody   *ngIf="customerList">
    <tr *ngFor="let item of customerList">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.dateOfBirth}}</td>
      <td *ngIf="item.gender == 1">Nam</td>
      <td *ngIf="item.gender == 0">Nữ</td>
      <td>{{item.idCard}}</td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td *ngIf="item.customerType">{{item.customerType?.name}}</td>
      <td><button class="btn btn-outline-warning"><a [routerLink]="['/customer/edit',item.id]">Edit</a></button></td>
<!--      <td><button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="temp = item" >Delete</button></td>-->
    </tr>
    </tbody>
  </table>
</form>
<app-footer></app-footer>
</body>


